services:
  bot:
    image: jasonchio/tg-archive-keeper:latest
    container_name: tg-archive-keeper
    hostname: tg-archive-keeper
    restart: unless-stopped
    environment:
      TZ: Asia/Shanghai
      BOT_TOKEN: 
      TDL_STORAGE: '{"type":"bolt","path":"/root/.tdl"}'
      MAX_CONCURRENT_DOWNLOADS: 4
      STORAGE_MODE: webdav
      WEBDAV_URL: 
      WEBDAV_USERNAME: 
      WEBDAV_PASSWORD: 
    volumes:
      - /root/appdata/tg-archive-keeper/task_db:/data/task_db
      - /root/appdata/tg-archive-keeper/files:/data/files
      - /root/appdata/tg-archive-keeper/notes:/data/notes
      - /root/appdata/tg-archive-keeper/logs:/data/logs
    networks:
      - tg-archive
    logging:
      driver: json-file
      options:
        max-size: 100m
networks:
  tg-archive: {}
